on:
  schedule: 
    # runs once a day (for quick testing)
    - cron: "55 23 * * *"

jobs:
  # This workflow contains a single job called "traffic"
  traffic:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        ref: "main"

    - name: setup python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install dependencies
      run: python -m pip install pygithub

    - name: multiple repo traffic script
      run: python scan_multiple_github_repo_traffic.py repos_to_watch.txt traffic/all_views.csv traffic/all_views_unique.csv traffic/all_clones.csv traffic/all_clones_unique.csv
      env:
        TRAFFIC_ACTION_TOKEN: ${{ secrets.TRAFFIC_ACTION_TOKEN }} 

    # Commits files to repository
    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
        author_name: Wandrille Duchemin
        message: "GitHub traffic"
        add: "./traffic/*"
        ref: "main"  # commits to branch "traffic" 
